# Build output
*.exe
*.o
*.obj

# unecessasry files folder
__pycache__/
*.pyc
venv/
py-enve/
PY/PY_Data/
Panel/GUIThemeHelper/Fonts/not using

# VS Code
.vscode/

# Cache / temp
*.json

# Precompiled headers
*.gch

# imgui .ini file
*.ini